<!DOCTYPE html>
{% load django_bootstrap5 %} 
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Remover Funcionário</title>
    {% bootstrap_css %} 
    {% bootstrap_javascript %} 
</head>
<body>

<h2>Funcionário: {{ funcionario.nome }}</h2>

<ul>
    <li>Nascimento: {{ funcionario.data_nascimento|date:"d/m/Y" }}</li>
    <li>E-mail: {{ funcionario.email }}</li>
    <li>Remuneração: {{ funcionario.remuneração }}</li>
</ul>

<form method="post">
    {% csrf_token %}

    <button type="submit" class="btn btn-danger">
        Confirmar remoção
    </button>

    <a href="{% url 'lista_funcionarios' %}" class="btn btn-secondary">
        Cancelar
    </a>
</form>

</body>
</html>